/*  your css code here. If applicable */
#p1{
	background-color:yellow;
	color:black;
	border:2px solid black;
}
#p2{
	background-color:red;
	color:black;
	border:2px solid black;
}
#p3{
	background-color:green;
	color:black;
	border:2px solid black;
}