/*  your css code here. If applicable */
#yellow{
	background-color:yellow;
	color:black;
	border:1px solid black;
}
#red{
	background-color:red;
	color:black;
	border:1px solid black;
}
#green{
	background-color:green;
	color:black;
	border:1px solid black;
}